spring:
  application:
    name: market

  datasource:
    url: jdbc:h2:mem:marketdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      platform: h2
      schema-locations: classpath:schemas/schema.sql
      data-locations: classpath:schemas/data.sql
      mode: always

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  h2:
    console:
      enabled: true
      path: /h2-console

  thymeleaf:
    cache: false
    prefix: classpath:/templates/

  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
    ru.art.home.market: DEBUG
